/* You can add global styles to this file, and also import other style files */
$dark: #212221;
$light: #DDEDF4;
$primary: #1181B2;
$secondary: #44449B;
//582ACC
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/journal/variables";
@import "../node_modules/bootswatch/dist/journal/bootswatch";

.modal-content{
    animation-name: example;
    animation-duration: 0.3s;
}
  
@keyframes example {
    0%   {transform: scale(0.5)}
    75%  {transform: scale(1.1)}
    100% {transform: scale(1)}
}