<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']"><h4 class="font-weight-bold">4UM</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact']" routerLinkActive="router-link-active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']" routerLinkActive="router-link-active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
