<div class="container">
    <div class="row">
        <div class='col-8'>
            <app-feed></app-feed>
        </div>
        <div class='col-4'>
            <app-side-bar (newPost)="onNewPost()"></app-side-bar>
        </div>
    </div>
</div>