<div *ngIf="noPosts" class="text-center">
    <p class="lead">{{feedMessage}}</p>
</div>
<div *ngFor="let post of postList; index as i" class="row mb-2">
    <div class="col">
        <div class="card">
            <div class="card-header bg-primary text-white py-1 pr-2">
                <div>
                    <h6 class="mb-0 mt-1 float-left">{{userLookUp[post.userId].name}}</h6>
                    <small class="float-left mt-1 ml-3">{{post.date | timeago}}</small>
                </div>
                <div *ngIf="isOwnPost(post)" class="float-right ml-3">
                    <button class="btn btn-primary btn-sm py-0" (click)="onEdit(i)"> 
                        <fa-icon [icon]="faPen"></fa-icon>
                    </button>
                    <button class="btn btn-primary btn-sm py-0" (click)="onDelete(i)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote">
                    <em *ngIf="post.quote" class="mb-0 small">{{post.quote}}</em>
                    <footer *ngIf="post.book" class="blockquote-footer">
                        {{post.book.author}} in 
                        <cite *ngIf="post.book.title" title="Source Title">
                            {{post.book.title}}
                            <a *ngIf="post.book.goodReadsId" class="mx-2" [href]="goodReadsUrl + post.book.goodReadsId" target="_blank" title="Check out on GoodReads!">
                                <fa-icon [icon]="faExtLink"></fa-icon>
                            </a>
                        </cite>
                    </footer>
                </blockquote>
                <p class="card-text">{{post.content}}</p>
            </div>
        </div>
    </div>
</div>