<div class="modal-header bg-secondary text-white">
    <h5 class="modal-title" *ngIf="!editMode"><em>Share something...</em></h5>
    <h5 class="modal-title" *ngIf="editMode"><em>Edit your post</em></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="col">
        <form [formGroup]="postForm">
            <div class="row mb-3">
                <label class="mb-2" for="quote">Quote</label>
                <textarea class="form-control" id="quote" rows="4" formControlName="quote" ngbAutofocus></textarea>
            </div>
            <div class="row mb-3">
                <label class="mb-2" for="content">Your thougths</label>
                <textarea class="form-control" id="content" rows="4" formControlName="content"></textarea>
            </div>
            <hr>
            <div class="row mb-3">
                <label class="mb-2" for="content">Reference</label>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="isbn">Try finding the book by ISBN:</label>
                </div>
                <div class="col-md-7">
                    <input type="number" id="isbn" formControlName="isbn" class="form-control" placeholder="ISBN">
                </div>
                <div class="col-md-1">    
                    <div *ngIf="waitingForSearchResponse" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="author">Author(s)</label>
                    <input type="text" id="author" formControlName="author" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="title">Title</label>
                    <input type="text" id="title" formControlName="title" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="this.postForm.invalid" (click)="onSubmit()">
        <strong *ngIf="!editMode">Post</strong>
        <strong *ngIf="editMode">Edit</strong>
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
</div>