
<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="submit()">
  <h3 class="mt-5 mb-4 font-weight-light font-italic">{{actSalutation}}</h3>
  <label for="inputName" class="sr-only">Your email</label>
  <input type="email" id="inputName" formControlName="email" class="form-control" placeholder="Email" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <div *ngIf="showErr" class="alert alert-dismissible alert-danger my-3 px-3">
    <strong class="font-italic">Oh nooo!</strong>
    <div>Password or username is wrong.</div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
