<div class="mt-5">
  <h2>Settings</h2>
  <div class="mt-4 mb-5">
    <h4 class="mb-5">
      Change password
    </h4>
    <form class="needs-validation" [formGroup]="pwForm" novalidate>
      <div class="form-group row mb-4">
        <div class="col-sm-4">
          <label for="currentPassword" class="col-form-label">Enter current password</label>
          <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" required>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-sm-4">
          <label for="newPassword" class="col-form-label">New password</label>
          <input type="password" class="form-control" id="newPassword" formControlName="newPassword" (input)="onPasswordChange()" required>
        </div>
        <label class="col-sm-6 col-form-label text-danger text-small"
          *ngIf="pwForm.controls['newPassword'].invalid && (pwForm.controls['newPassword'].dirty || pwForm.controls['newPassword'].touched)">
          <small>Password must be at least 6 characters long.</small>
        </label>
      </div>
      <div class="form-group row mb-5">

        <div class="col-sm-4">
          <label for="confirmPassword" class="col-form-label">Confirm new password</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" (input)="onPasswordChange()" required>
        </div>
        <label class="col-sm-6 col-form-label text-danger text-small"
          *ngIf="passwordMismatch">
          <small>Passwords not matching!</small>
        </label>
      </div>
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn btn-lg btn-primary" (click)="savePassword()" [disabled]="!pwForm.valid"><strong>Save</strong></button>
        </div>
        <div class="col-md-3">
          <div *ngIf="success" class="alert alert-dismissible alert-light text-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Changes successfully saved.</strong>
          </div>
          <div *ngIf="failure" class="alert alert-dismissible alert-light text-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{failureMessage}}</strong>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
