<div class="modal-header bg-danger text-white">
  <h5 class="modal-title">{{messageTitle}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="messageBody !== ''">
  <p class="lead text-dark">{{messageBody}}</p>
</div>
<div class="modal-footer py-2">
  <button type="button" class="btn btn-danger px-4" ngbAutofocus (click)="activeModal.close('Close click')"><strong>{{buttonText}}</strong></button>
  <button type="button" class="btn btn-secondary px-4" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
</div>
