<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']"><h4 class="font-weight-bold">4UM</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact']" routerLinkActive="router-link-active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']" routerLinkActive="router-link-active">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ngbDropdown (openChange)="toggled($event)">
          <button class="btn btn-white nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" [disabled]="!notifications.length">
            <span *ngIf="notifications.length" class="badge badge-secondary badge-pill mr-2">{{notifications.length}}</span>
            <fa-icon [icon]="faBell"></fa-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu dropdown-menu-right">
            <div *ngFor="let notif of notifications; index as i">
              <a ngbDropdownItem routerLink="/" class="text-secondary pl-2" (click)="notificationClicked()">
                <p>
                  <fa-icon [icon]="faCaretRight"></fa-icon>
                  <strong class="text-dark ml-2">{{notif.title}}</strong>
                  <small class="ml-3 float-right">{{ notif.timestamp | timeago | shortenTimeago }}</small>
                </p>
              </a>
              <div *ngIf="i+1 < notifications.length" class="dropdown-divider"></div>
            </div>
          </div>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
            {{username}}
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem routerLink="/account">Profile</a>
            <a ngbDropdownItem routerLink="/account/settings">Settings</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem href="javascript:void(0);" (click)="onSignOut()">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
